<p>courses works!</p> 

<div>
   <label for="serach">Sök kurser</label>
   <input type="text" id="serach" [(ngModel)]="searchCourse" (input)="courseSearch()">
</div>

<table>
   <thead id="head">
       <tr>
           <th (click)="sortByCode()">Kurskod <img [src]="sortIcon" alt="Sorting icon"></th>
           <th (click)="sortByName()">Kursnamn</th>
           <th (click)="sortByProgress()">Progression</th>
           <th>Kursplan</th>
       </tr>
   </thead>
   <tbody id="data">
      <tr *ngFor="let course of searchedCourses">
         <td> {{course.code}} </td>
         <td> {{course.coursename}} </td>
         <td> {{course.progression}} </td>
         <td> <a [href]="course.syllabus">Kursplan</a></td>
      </tr>
   </tbody>
</table>